/* Root styles */
:root
{
    --main-hover-color: darkcyan;
    --main-hover-text-color: #b58a51;
    --main-text-color: black;
    --margin: 30px 0px 0px 330px
}

/* Media queries */




/* all components */
.items
{
    display: grid;
    justify-items: center;
}

.content
{
    margin: var(--margin);
}



/* side bar component */
#side_bar
{
    display: flex;
    flex-direction: column;
    background-color: #F2F3F6;
    width: 20rem;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    align-items: flex-start;
}

#side_bar > a{
    text-decoration: none;
    color: var(--main-text-color);
    padding: 5px 0px;
    font-size: 20px;
}

#side_bar > a:hover
{
    transition: 0.3s;
    color: var(--main-hover-text-color);
}


/* Products.js */
#prod_table
{
    width: 75%;
    margin-left: 18rem;
}

#prod_img
{
    width: 80px;
    height: 50px;
}