/* Root styles */
:root {
    --main-hover-color: darkcyan;
    --main-hover-text-color: #b58a51;
    --main-text-color: black;
<<<<<<< HEAD
    --margin: 30px 0px 0px 330px;
    --white-color: whitesmoke;
    --preview-black-box-bg-color: #313131;
    --peview-green-box: #6c855f;
    --preview-yellow-box: #fffcf8;
=======
    --margin: 30px 0px 0px 330px
>>>>>>> Add existing project files to Git
}

/* Media queries */




/* all components */
.items {
    display: grid;
    justify-items: center;
}

.content {
    margin: var(--margin);
}



/* side bar component */
#side_bar {
    display: flex;
    flex-direction: column;
    background-color: #F2F3F6;
    width: 20rem;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    align-items: flex-start;
}

#side_bar>a {
    text-decoration: none;
    color: var(--main-text-color);
    padding: 5px 0px;
    font-size: 20px;
}

#side_bar>a:hover {
    transition: 0.3s;
    color: var(--main-hover-text-color);
}


/* Utilities */
#loader_gif {
    width: 460px;
    height: 350px;
    margin: var(--margin);
}


/* Products.js */
#prod_table {
    width: 75%;
    margin-left: 18rem;
}

#prod_img {
    width: 80px;
    height: 50px;
}

.paginateButton {
    list-style: none;
    width: 100%;
    display: flex;
}

.paginateButton a,
<<<<<<< HEAD
#add_prod,
#add_cat {
=======
#add_prod {
>>>>>>> Add existing project files to Git
    padding: 5px 12px;
    border-radius: 5px;
    border: 1px solid #b58a51;
    font-size: 1rem;
}

.paginateButton li {
    padding: 0px 12px;
    color: #b58a51;
    background-color: white;
}

.backBtn,
.nextBtn {
    text-decoration: none;
    color: #b58a51;
    background-color: white;
}

<<<<<<< HEAD
#add_prod,
#add_cat {
=======
#add_prod {
>>>>>>> Add existing project files to Git
    color: #b58a51;
    background-color: white;
    margin: 0px 0px 0px 55px;
}

.backBtn:hover,
.nextBtn:hover {
    text-decoration: none;
    color: #b58a51;
    background-color: white;
<<<<<<< HEAD
}

.prod_table_head:hover {
    cursor: pointer;
}

#category_dropDown {
    padding: 1rem 0.7rem;
}

#product_fieldset {
    margin-top: 4rem;
}

#content_legend {
    background-color: var(--main-hover-text-color);
    color: white;
    width: 9rem;
    margin: -52px 0px 28px 0px;
}

#content_legend_batch {
    background-color: var(--main-hover-text-color);
    color: white;
    width: 12rem;
    margin: -52px 0px 28px 0px;
}

#product_heading {
    margin: 0rem 0rem 0rem 19rem;
}

.black_box {
    background-color: var(--preview-black-box-bg-color);
    color: var(--white-color);
}

.green_box {
    background-color: var(--peview-green-box);
    color: var(--white-color);
}

.yellow_box {
    background-color: var(--preview-yellow-box);
    color: black;
}

.recipe_link {
    text-decoration: none;
}

.static_email_box {
    background-color: var(--main-hover-text-color);
}


/* Add Category */
.button_link_container,
.file_desc,
.second_img_desc {
    margin: 31px 0px 0px 0px;
=======
>>>>>>> Add existing project files to Git
}